<?xml version="1.0" standalone="no" ?>
<world gridsize="20,20">
<blocks color="255,255,0">
<block position="2,16" color="255,0,0"/>
<block position="3,16" color="255,0,0"/>
<block position="4,16" color="255,0,0"/>
<block position="5,16"/>
<block position="6,16"/>
<block position="7,16"/>
<block position="8,16"/>
<block position="9,16"/>
<block position="10,16"/>
<block position="11,16"/>
<block position="12,16"/>
<block position="13,16"/>
<block position="14,16"/>
<block position="15,16"/>

<block position="2,18" color="255,0,0"/>
<block position="3,18" color="255,0,0"/>
<block position="4,18" color="255,0,0"/>
<block position="5,18"/>
<block position="6,18"/>
<block position="7,18"/>
<block position="8,18"/>
<block position="9,18"/>
<block position="10,18"/>
<block position="11,18"/>
<block position="12,18"/>
<block position="13,18"/>
<block position="14,18"/>
<block position="15,18"/>

<block position="2,17" color="255,0,0"/>
<block position="3,17" color="255,0,0"/>
<block position="4,17" color="255,0,0"/>
<block position="5,17"/>
<block position="6,17"/>
<block position="7,17"/>
<block position="8,17"/>
<block position="9,17"/>
<block position="10,17"/>
<block position="11,17"/>
<block position="12,17"/>
<block position="13,17"/>
<block position="14,17"/>
<block position="15,17"/>

<block position="15,2" color="0,128,128"/>
<block position="15,3" color="0,128,128"/>
<block position="15,4" color="0,128,128"/>
<block position="15,5"/>
<block position="15,6"/>
<block position="15,7"/>
<block position="15,8"/>
<block position="15,9"/>
<block position="15,10"/>
<block position="15,11"/>
<block position="15,12"/>
<block position="15,13"/>
<block position="15,14"/>
<block position="15,15"/>
<block position="14,15"/>

<block position="16,2" color="0,128,128"/>
<block position="16,3" color="0,128,128"/>
<block position="16,4" color="0,128,128"/>
<block position="16,5"/>
<block position="16,6"/>
<block position="16,7"/>
<block position="16,8"/>
<block position="16,9"/>
<block position="16,10"/>
<block position="16,11"/>
<block position="16,12"/>
<block position="16,13"/>
<block position="16,14"/>
<block position="16,15"/>
<block position="16,16"/>
<block position="16,17"/>

<block position="17,2" color="0,128,128"/>
<block position="17,3" color="0,128,128"/>
<block position="17,4" color="0,128,128"/>
<block position="17,5"/>
<block position="17,6"/>
<block position="17,7"/>
<block position="17,8"/>
<block position="17,9"/>
<block position="17,10"/>
<block position="17,11"/>
<block position="17,12"/>
<block position="17,13"/>
<block position="17,14"/>
<block position="17,15"/>
<block position="17,16"/>

</blocks>

<objects>
<object position="40.5,8" velocity="0.5,1.5" path="40,8,0,10,8,42.5,-10,0"/>

</objects>
</world>