
		<?xml version="1.0" standalone="no" ?>
		<vm serverport="5000" vmPath="/home/andre/Bureau/meld/meld" programPath="/home/andre/Bureau/meld/examples/rainbowRetract.m" debugging="true" />

		<world gridsize="10,10,10">
			<camera target="200,200,200" directionSpherical="0,70,400" angle="45"/>
			<spotlight target="200,20,200" directionSpherical="45,60,500" angle="40"/>

			<blockList color="0,255,0" size="1,1,1" blocksize="40,40,41" > 
		
		<block position="3,5,2"/> 
		<block position="3,5,3"/>
		<block position="3,5,4"/>
		<block position="3,5,5"/>		
		<block position="3,5,6"/>
		
		<block position="4,5,6"/>
		<block position="5,5,6"/>
		<block position="6,5,6"/>
		<block position="7,5,6"/>
		
		<block position="7,5,5"/>
		<block position="7,5,4"/>
		<block position="7,5,3"/>
		
		<block position="7,5,2"/>
		<block position="5,5,2"/>
		<block position="4,5,2"/>
		<block position="6,5,2"/>

			</blockList>
			</world>
